form footer {
  color: #999;
  font-size: 0.6rem;
  margin: 0;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.2rem !important;
}

label.derived {
  color: #999;
}

.clickable {
  cursor: pointer;
}

.fs-sm {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.template {
  display: none;
}

#monthly-costs tr:not(.hidden) + tr.year-end td {
  background-color: rgb(252, 250, 231);
}

.table-sm th,
.table-sm td {
  font-size: 0.8rem;
}

#monthly-costs th:nth-child(n + 3) {
  text-align: center;
}

#monthly-costs td:nth-child(n + 3) {
  text-align: right;
}

#monthly-costs td:nth-last-child(2) {
  font-weight: bold;
}

.years-toggle.years .months {
  display: none;
}

.years-toggle:not(.years) .years {
  display: none;
}

#tier-rates tr > *:nth-last-child(-n + 2) {
  text-align: right;
}

#tier-rates tbody:not(.hidden):nth-of-type(even) {
  --bs-table-bg: rgb(226, 227, 229);
  --bs-table-border-color: rgb(203, 204, 206);
  border-color: var(--bs-table-border-color);
}
